/* .App {
   text-align: center; 
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */
/* 
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */


.loss {
  color: red;
}

.profit {
  color: green;
}

.chartPriceLabel { 
  font: normal 12px Courier; 
  fill: #888;
}

.chartLastPrice { 
  font: normal 12px Courier; 
  fill: white;
}
.chartLastPriceBg {
  stroke:blue;
  fill:blue;

}

.chartTimeLabel { 
  font: normal 12px Courier; 
  fill: #888;
}

.chartCandleDiff {
  font: normal 12px Courier; 
  fill: blue;
}

.buyLevelLine {
  stroke: red;
}

.chartVertLine {
  stroke: #ccc;
  stroke-dasharray: 4;
}
.chartHorLine {
  stroke: #ccc;
  stroke-dasharray: 4;
}

.redCandle {
  stroke:  #830000;
  fill: #d30000;
}
.greenCandle {
  stroke: #008300;
  fill: #00d300;
}

.buyLevelLine {
  stroke: #005300;
  fill: #008300;
}
.buyLevelQty{
  font: normal 12px Courier; 
  fill: #88ff88;  
}

.sellLevelLine {
  stroke:  #530000;
  fill: #830000;
}
.sellLevelQty{
  font: normal 12px Courier; 
  fill: #ff8888;  
}

.playbackControl {
  font-size: 0.7em;
}